
    * {
      font-family: arial, sans-serif;
      margin: 0;
      padding: 0;
    }

    body {
      height: 100vh;
      width: 100vw;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: background-color 0.5s ease; /* Smooth background color transition */
    }

    #container {
      display: flex;
      flex-direction: column;
      text-align: center;
    }

    #navbar {
      padding: 2em;
      justify-content: space-evenly;
    }

    #main-section {
      flex-grow: 5;
    }

    #main-section > div {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100vh; /* Center content vertically */
    }

    .red {
      background-color: #f00e34;
      color: rgb(230, 24, 24);
    }

    .blue {
      background-color: #1362e2;
      color: rgb(14, 54, 231);
    }

    /* Style for the link that changes the background color */
    #color-change-link {
      text-decoration: none;
      color: #000;
      background-color: #ccc;
      padding: 10px 20px;
      border-radius: 5px;
      transition: background-color 0.3s ease;
    }

    #color-change-link:hover {
      background-color: #333; /* Change color on hover */
      color: #fff;
    }


  
 
 


